#landing {
    height: 70vh;
    width: 100%;
    border-radius: 0;
    padding-top: 14vh;
}

@media screen and (max-width: 760px) {
    #landing {
        padding-top: 7vh;
    }
}

#name {
    font-size: 70px;
}