#portrait-landing {
    float: left;
	height: 95vh;
	width: 60vw;
	background-image: url("../../../assets/images/FriendlyProgressive.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
}

#portrait-info {
    background-color: #1b1c1d;
    padding-top: 13%;
    height: 95vh;
    color: white;
}

#portrait-name {
    font-size: 50px;
}

@media screen and (max-width: 760px) {
    #portrait-landing {
        width: 100vw;
    }

    #portrait-info {
        height: auto;
    }

    #portrait-info h3 {
        min-height: 60px;
    }
}