html,
body {
	font-family: 'Open Sans', serif;
	text-align: center;
	margin: auto;
	background-color: #F7F7F7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', serif;
}

.header-margin {
	margin-top: 47px;
}

.section-margin {
	margin-top: 30px;
}

.section-divider {
	margin-bottom: 40px !important;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: #545454;
}